<div class="container-fluid">
  <div class="row p-2">
    <div class="col-sm-10  text-left">
      <span class="h1">Vista desde {{" " + vista}}</span>
    </div>
    <div class="col-sm-2 text-right h2">
      <button mat-dialog-close class="btn btn-warning"><i class="fa fa-times"></i></button>
    </div>
  </div>

  <img [src]="'assets/imagenes/fondos/Vista-'+ vista+'.jpg'" class="img-fluid">
  <!-- <iframe *ngIf="ruedo" src="https://www.google.com/maps/embed?pb=!4v1523331981029!6m8!1m7!1sCAoSLEFGMVFpcE5USklxOS14U3F1WHJHYmxMUWNuRHlPWGxyVUtIOWl1cGU4bWc2!2m2!1d21.87488194933564!2d-102.3068262264132!3f283.4727854035425!4f-9.556549127507125!5f0.7820865974627469"
    frameborder="0"></iframe> -->

</div>