<div class="container-fluid animated fadeIn">
  <div class="row">
    <img src="assets/imagenes/fondos/Banner-Menu.jpg" class="fondo">
  </div>
  <div class="row">
    <div class="col-3 no-margin no-padding" [routerLink]="['historia']">
      <img src="assets/imagenes/iconos/Boton-Historia.png" class="fondo boton-menu" height="{{Height}}">
    </div>
    <div class="col-3 no-margin no-padding" [routerLink]="['mapa']">
      <img src="assets/imagenes/iconos/Boton-Mapa.png" class="fondo boton-menu" height="{{Height}}">
    </div>
    <div class="col-3 no-margin no-padding" [routerLink]="['galeria']">
      <img src="assets/imagenes/iconos/Boton-Galeria.png" class="fondo boton-menu" height="{{Height}}" >
    </div>
    <div class="col-3 no-margin no-padding" [routerLink]="['eventos']">
      <img src="assets/imagenes/iconos/Boton-Eventos.png" class="fondo boton-menu" height="{{Height}}">
    </div>
  </div>
</div>