<div class="container-fluid">

  <div class="row filtro">
    <img src="assets/imagenes/fondos/Fondo-Galeria.jpg" class="fondo">
  </div>

  <!-- Modal -->
  <app-modal-dialog [visible]="isPrinting">
    <app-imprimir-imagen [Imagen]="SelectedImage"></app-imprimir-imagen>
    <div class="row mb-3 justify-content-center" *ngIf="!ImprimirBool">
      <div class="col-sm-10">
        <div class="row">
          <div class="col">
            <button class="btn btn-warning text-white btn-block" (click)="Imprimir()"> Imprimir</button>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-block" (click)="isPrinting=!isPrinting"> Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="progress" *ngIf="ImprimirBool">
      <div class="progress-bar bg-danger p-1" role="progressbar" id="barra-progreso">Imprimiendo...</div>
    </div>
  </app-modal-dialog>

  <!-- toolbar -->
  <div class="row header align-items-center">
    <div class="col-lg-1">
      <img src="assets/imagenes/iconos/atras.png" height="120" [routerLink]="['/menu']">
    </div>
    <div class="col-lg-2">
      <span class="texto-blanco font-36 atras">Atrás</span>
    </div>
    <div class="col-lg-9 text-left titulo-vista">
      <img src="assets/imagenes/iconos/impresora.png" class="impresora-icon" (click)="isPrinting = !isPrinting">
      <span class="texto-blanco font-36">Galeria Fotográfica</span>
    </div>
  </div>

  <!-- Contenedor de las imagenes -->
  <div class="row justify-content-center padding-top">
    <div class=" relativo col-lg-10 framework text-center">
      <img src="{{SelectedImage}}" class="image-on-view">
    </div>
  </div>

  <!-- Preview de fotos-->
  <div class="row justify-content-center align-items-center ">
    <div class="col-lg-1" *ngIf="Prev_page != null">
      <span class="arrow" (click)="PrevImages()">◄</span>
    </div>
    <div class="col-lg-2 photo-preview" *ngFor="let image of Images; let indice=index;">
      <img src="{{image}}" class="img-thumbnail opacity" (click)="SetSelectedImage(image)" name="img">
    </div>
    <div class="col-lg-1" *ngIf="Next_page != null">
      <span class="arrow" (click)="NextImages()">►</span>
    </div>
  </div>
  <div>