/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'; 
@import "~angular-vertical-timeline/dist/vertical-timeline.css";
 

.full-width{
    width: 100%;
}

.fixed {
    position: fixed;
}

.relativo{
    position: relative;
}

.absoluto{
    position: absolute;
}

.texto-blanco{
    color: white;
}

.font-36{
    font-size: 36pt;
}

.titulo-tocar-pantalla{
    font-family: "Lemon/Milk";
}

.margin-top{
    margin-top: 1%;
}

.titulo-vista{
    padding: 1% 0% 0 0; 
    background: rgba(0, 0, 0, 0.3);
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}