/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.scss'; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
div,ul,li,h1,h2,h3,h4,h5,h6,span,p,input,button,a,.btn,.container > *{
    transition: all 500ms;
}
.texto-blanco{
    color: white;
}

.font-36{
    font-size: 34pt;
}

.titulo-vista{
    padding: 1% 0%;
    background: rgba(0, 0, 0, 0.3);
}
.atras{
    padding: 0% 10%;
}

.container-fluid{
    font-family: 'Lemon/Milk';
}   
