/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.scss'; 
@import "~angular-vertical-timeline/dist/vertical-timeline.scss";
 


.texto-blanco{
    color: white;
}

.font-36{
    font-size: 36pt;
}

body{
    font-family: "LemonMilk";
}

.titulo-vista{
    padding: 1% 0%;
    background: rgba(0, 0, 0, 0.3);
}
.atras{
    padding: 0% 10%;
}
